/* Rectangle 4 */
.main {
  overflow-x: hidden;
  height: scroll;
}

.details {
  font-family: monospace;
  color: #050a30;
}

.id-card {
  position: relative;
  margin-top: 30vh;
  background: #ffffff;
  overflow-y: hidden;
  height: auto;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: url("../assets/images/nida_id_example.jpg");
  background-blend-mode: lighten;
  mix-blend-mode: normal;
  opacity: 0.05;
}

.top {
  /* Rectangle 1 */
  position: absolute;
  width: 100%;
  height: 60vh;
  left: 0px;
  top: 0px;
  background: linear-gradient(0deg, #1f3541, #1f3541), #050a30;
  /* border: 1px solid #ffffff; */
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 60%, 0 100%);
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.top-inner {
  /* Rectangle 3 */

  position: absolute;
  min-height: 100vh;
  max-width: 540px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(131, 123, 123, 0.04);
  box-shadow: inset 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
  padding-bottom: 30px;
}

.top-image {
  /* Rectangle 2 */

  position: absolute;
  width: 150px;
  height: 150px;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1f3541;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  border: 10px solid #ffffff;
  object-fit: fit;
  overflow: hidden;
}

.top-image img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo-text {
  position: relative;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: 200;
  color: #ffffff;
  /* background-color: #050a30; */
}

/* logo text animations */

.typing-logo {
  width: 25ch;
  animation: typing 8s steps(25) infinite, blink 0.35s infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: monospace;
  opacity: 1;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes pause {
  from {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.input-text {
  /* |enter id here */
  font-size: 1.5rem;
  color: #ffffff;
}
