<div class=" wrapper"></div>
<!-- <div class="top"></div> -->

<div class="main">


  <!-- <form class="form nin-form" [formGroup]="ninForm" style="position: relative">
    <mat-form-field color="accent" class="w-100 text-white" appearance="fill">
      <mat-label>Tafuta kwa namba yako ya nida.</mat-label>
      <input #nin autocomplete="off" type="nida" formControlName="nin" maxlength="20" class="input-text" matInput
        placeholder="XXXXXXXXXXXXXXXXXXXX" />
      <mat-icon class="text-white text-center" matSuffix>
        search

        <mat-spinner [diameter]="40" [hidden]="!(loading | async)" [strokeWidth]="2" color="accent" style="
        position:absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
      "></mat-spinner>
      </mat-icon>
      <mat-hint align="end">bado {{20 - nin.value.length}}</mat-hint>
      <mat-hint *ngIf="pattern_error">Tumia namba tu.</mat-hint>
    </mat-form-field>
  </form> -->

  <div class="container my-5 top-inner">
    <h1 class="logo-text text-dark display-4">Kadi yangu ya NIDA. </h1>
    <div class="top-image">
      <img [src]="photo" alt="picha">
    </div>

    <mat-card class="id-card">
      <mat-card-content>
        <mat-list class="" *ngFor="let item of (data | async) | keyvalue">
          <mat-list-item>
            <div class="row details gap-2 w-100">
              <div class="col-md-4 text-muted">{{item.key}}</div>
              <div class="col-md-8">{{item.value}}</div>
            </div>
          </mat-list-item>
          <hr>
        </mat-list>
        <mat-list *ngIf="!(errorLoading | async) && !(wrong_input)">
          <mat-list-item>
            <div class="row">
              <img mat-card-image [src]="signature" alt="signature">
            </div>
          </mat-list-item>
        </mat-list>

        <mat-list *ngIf="(errorLoading | async)">
          <mat-list-item>
            <strong class="text-danger">Network Error 🚨</strong>
          </mat-list-item>
          <mat-list-item>
            <button color="warm" class="text-light" mat-raised-button>Reload</button>
          </mat-list-item>
        </mat-list>

        <mat-list *ngIf="wrong_input">
          <mat-list-item>
            <div class="alert alert-danger w-100 m-auto" role="alert">
              <strong>NIN Does Not Exist.</strong>
            </div>
          </mat-list-item>
        </mat-list>

        <hr>
      </mat-card-content>
    </mat-card>
    <hr>
    <mat-card>
      <mat-card-content>
        <mat-card-title class="logo-text display-4">Links Muhimu kuhusu NIDA. </mat-card-title>
        <mat-divider></mat-divider>
        <mat-list>
          <div class='p-3'>
            <h1>Fahamu Namba ya Nida (NIN)</h1>
            <a class='' style="font-size: 18px;" href="https://services.nida.go.tz/nidportal/get_nin.aspx">Fahamu Namba
              ya NIDA (NIN)</a>
          </div>
          <hr>
          <div class='p-3'>
            <h1>NIDA</h1>
            <a class='' style="font-size: 18px;" href="https://nida.go.tz/swahili/">NIDA - swahili</a>
          </div>
          <hr>

          <div class='p-3'>
            <h1>Welcome to NIDA Online Services</h1>
            <a class='' style="font-size: 18px;" href="https://services.nida.go.tz/nidportal/">Welcome to NIDA Online Services</a>
          </div>
          <hr>

          <div class='p-3'>
            <h1>National Identification Authority (NIDA) - Tanzania eRegulations</h1>
            <a class='' style="font-size: 18px;" href="https://tanzania.eregulations.org/objective/380?l=en">NIDA -
              National Identification Authority</a>
          </div>
          <hr>

          <div class='p-3'>
            <h1>FOMU YA UTAMBULISHO FOMU YA ... - Tanzania eRegulations</h1>
            <a class='' style="font-size: 18px;"
              href="https://tanzania.eregulations.org/media/NIDA%20Application%20form%201A%20new.pdf">FOMU YA UTAMBULISHO</a>
          </div>
          <hr>

          <div class='p-3'>
            <h1>CITIZEN APPLICATION FORM NIDA</h1>
            <a class='' style="font-size: 18px;"
              href="https://nida.go.tz/swahili/wp-content/uploads/2019/04/CITIZEN-APPLICATION-FORM-NIDA.pdf">NIDA -
              CITIZEN APPLICATION FORM NIDA</a>
          </div>
          <hr>

          <div class='p-3'>
            <h1>Mambo ya Kuzingatia wakati wa usajili - Mamlaka ya ...</h1>
            <a class='' style="font-size: 18px;"
              href="https://nida.go.tz/swahili/index.php/mambo-ya-kuzingatia-wakati-wa-usajili-2/">Mambo ya Kuzingatia
              wakati wa usajili</a>
          </div>
        </mat-list>
      </mat-card-content>
      <mat-divider>
      </mat-divider>

      <mat-divider [inset]="false">
      </mat-divider>

    </mat-card>
  </div>
</div>
